/* Banner Section */
.banner-content {
  background: url("/public/images/food_bg.jpg") no-repeat center center/cover;
  text-align: center;
  padding: 20px;
}

/* Main Container */
.text-container {
  max-width: 100%;
  margin-top: 70px;
}

.main-heading {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Button */
.reserve {
  padding: 12px 24px;
  font-size: 1.2rem;
  color: white;
  background: #ff6347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 20px;
}

.reserve:hover {
  background: #dd2f10;
}
